/* To make the parallax effect easy to view I added a large top and bottom margin, delete these or tweak them to your liking */

.banner-header {
  margin: 0;
  color: white;
  padding-top: 0px;
  font-size: 42px;
  font-family: lato;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: -190px;
  font-weight: 900;
  animation: left_to_right 3s ease;
}

.banner-text {
  margin: 0;
  color: white;

  margin-top: 0px;
  padding-bottom: 0px;
  font-family: lato;
  font-weight: 400;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  animation: right_to_left 3s ease;
}

.bannerItem {
  background: rgb(36, 36, 36);
  text-align: center;
  height: 100% !important;
  border-radius: 6px; /* rounded corners */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(32, 32, 32, 0.4) 100%
  );
  /* url('http://source.unsplash.com/1500x500/?adventure'); */
}

.banner-example {
}

/* button CSS */
.btn.btn-outline {
  margin-top: 10px;
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  padding-left: 90px;
  padding-right: 90px;
  font-family: lato;
  font-weight: 300;
  margin-bottom: 40px;
  border-radius: 0px;
}
.btn.btn-outline:hover {
  background-color: black;
  border-color: black;
  color: #fff;
}
.btn.btn-outline.a {
  background-color: black;
  border-color: black;
  color: #fff;
}
.btn.btn-outline:active {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}
@keyframes left_to_right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
@keyframes right_to_left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}
