body {
  margin: 0;
  padding: 0;
  font-family: Lyft Pro, HelveticaNeue, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #373a3c;
  background-color: #11111f;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
